extends ../layout
block content
  section.content.dashboard
    .page-heading
      h1 #{__("User Role")}
    .page-body
      - for(var ppp = 0; ppp < role.length; ppp++){
        - if(role[ppp].page == 6 && role[ppp].w == 1){
            .panel.panel-default.update-user
              .panel-heading #{__("Update User")}
              .panel-body
                form.update-user-form(action='/users/user_update' method='post')
                  input.oldemail(type='hidden', placeholder='Email', required='', value='#{usr.email}' name='oldemail')                  
                  .form-group.clearfix.col-md-4
                    label.display-block #{__("First Name")}
                    input.form-control.firstname(type='text', placeholder='Name', required='', value='#{usr.firstname}', name='firstname')
                  .form-group.clearfix.col-md-4
                    label.display-block #{__("Last Name")}
                    input.form-control.lastname(type='text', placeholder='Name', required='', value='#{usr.lastname}', name='lastname')
                  .form-group.clearfix.col-md-4
                    label.display-block #{__("Email")}
                    input.form-control.email(type='email', placeholder='Email', required='', value='#{usr.email}', name='email')
                  .form-group.clearfix.col-md-4
                    label.display-block #{__("Contact Date")}
                    input.form-control.contractdate(type='text', placeholder='Contact Date', value='#{usr.contractdate}')
                  .form-group.clearfix.col-md-4
                    label.display-block #{__("User Type")}
                    select.type-bar(style='width: 100%;', name='type')
                      - if(usr.type == 1){
                        option(value='0') Normal
                        option(value='1' selected) Admin
                      - }else{
                        option(value='0' selected) Normal
                        option(value='1') Admin
                      - }
                  .form-group.clearfix.col-md-4
                    label.display-block #{__("Status")}
                    select.status-bar(style='width: 100%;', name='status')
                      - if(usr.status == 1){
                          option(value='1' selected) Active
                          option(value='0') Inactive
                      - }
                      - else{
                          option(value='1') Active
                          option(value='0' selected) Inactive
                      - }
                      
                  .form-group.clearfix.col-md-12
                    button.btn.btn-sm.btn-success.pull-right(type='submit') #{__("Update User")}
            .panel.panel-default.add-auth(style='display:none;')
                .panel-heading #{__("Add New Auth")}
                .panel-body
                  form.add-form(action='/users/add_auth' method='post')
                    input.id(type="hidden", value="#{id}", required='')
                    .form-group.col-md-2
                      label.display-block #{__("Page Name")}
                      select.page-bar(style='width: 100%;')
                        - for (var i = 0; i < pages.length; ++i) {
                            option(value='#{pages[i].value}') #{pages[i].name}
                        - }
                    .form-group.clearfix.col-md-2
                      label.display-block #{__("Read")}
                      select.read(style='width: 100%;')
                        option(value='1') On
                        option(value='0') Off
                    .form-group.clearfix.col-md-2
                      label.display-block #{__("Write")}
                      select.write(style='width: 100%;')
                        option(value='1') On
                        option(value='0') Off
                    .form-group.clearfix.col-md-2
                      label.display-block #{__("Delete")}
                      select.delete(style='width: 100%;')
                        option(value='1') On
                        option(value='0') Off
                    .form-group.clearfix.col-md-2
                      label.display-block #{__("Status")}
                      select.status-bar(style='width: 100%;')
                        option(value='1') Active
                        option(value='0') Inactive
                    .form-group.clearfix.col-md-2(style='margin-top: 25px;')
                      button.btn.btn-sm.btn-success.pull-right(type='submit') #{__("Add Role")}
            .panel.panel-default.update-auth(style='display:none;')
              .panel-heading #{__("Update Auth")}
              .panel-body
                form.update-form(action='/users/update_auth' method='post')
                  input.update-id(type="hidden", value="#{id}", required='')
                  .form-group.col-md-2
                    label.display-block #{__("Page Name")}
                    select.update-page-bar(style='width: 100%;')
                      - for (var i = 0; i < pages.length; ++i) {
                          option(value='#{pages[i].value}') #{pages[i].name}
                      - }
                  .form-group.clearfix.col-md-2
                    label.display-block #{__("Read")}
                    select.update-read(style='width: 100%;')
                      option(value='1') On
                      option(value='0') Off
                  .form-group.clearfix.col-md-2
                    label.display-block #{__("Write")}
                    select.update-write(style='width: 100%;')
                      option(value='1') On
                      option(value='0') Off
                  .form-group.clearfix.col-md-2
                    label.display-block #{__("Delete")}
                    select.update-delete(style='width: 100%;')
                      option(value='1') On
                      option(value='0') Off
                  .form-group.clearfix.col-md-2
                    label.display-block #{__("Status")}
                    select.update-status-bar(style='width: 100%;')
                      option(value='1') Active
                      option(value='0') Inactive
                  .form-group.clearfix.col-md-2(style='margin-top: 25px;')
                    button.btn.btn-sm.btn-success.pull-right(type='submit') #{__("Update Role")}
                    - if(role[ppp].page == 12 && role[ppp].d == 1){
                        .btn.btn-sm.btn-success.pull-right.remove(style='margin-right: 20px;') #{__("Remove Role")}
                    - }
        - }
      - }      
      .panel.panel-default
        - for(var ppp = 0; ppp < role.length; ppp++){
          - if(role[ppp].page == 6 && role[ppp].w == 1){
              .panel-heading          
                button.btn.btn-success.new-button(type='button')
                  i.fa.fa-plus
                  |  #{__("Add New Role")}
          - }
        - }          
        .panel-body
          table.table.table-striped.table-hover.dataTable.auth-table
            thead
              tr
                th #{__("Page Name")}
                th #{__("Read")}
                th #{__("Write")}
                th #{__("Delete")}
                th #{__("Status")}
            tbody
              - for (var i = 0; i < auths.length; ++i) {
                  tr
                    - for (var j = 0; j < pages.length; ++j) {
                      - if(pages[j].value == auths[i].page){
                          td #{pages[j].name}
                      - }
                    - }
                    td #{auths[i].r ==1? 'Y': 'N'}
                    td #{auths[i].w ==1? 'Y': 'N'}
                    td #{auths[i].d ==1? 'Y': 'N'}
                    td #{auths[i].status ==1? 'Active': 'InActive'}
              - }              
block script
  script.
    var pages = (!{JSON.stringify(pages)});
    var usr = (!{JSON.stringify(usr)});
  script(src='/assets/plugins/moment/moment.js')
  script(src='/assets/plugins/eonasdan-bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js')
  script(src='/invoice/js/organization/user_auth.js')
    